<footer class="footer" style="z-index: 999999 !important; position: relative;">
    <div class="container" style="text-align: center;">
      <span style="color:white;">Powered by</span>
      <a href="http://cse112oldproj.herokuapp.com">
        <img src="http://cse112oldproj.herokuapp.com/images/enque-logo.png" width="90px" height="40px" style="display:block; margin:auto;">
      </a>
      <span class="footer-copyright">
        Copyright &#169; Shiny Pigeons Team 3 CSE 112, Spring 2017. All Rights Reserved.
      </span>
    </div>
</footer>
