<style>
  .logo {
    text-align: left !important;
  }
  .sidebar-toggle {
    background: #367fa9 !important;
    color: white !important;
  }
  .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    border-left-color: transparent;
  }

  .navbar-icon {
    min-height: 50px;
    width: 50px;
    margin: auto;
    background: red;
    color: white !important;
    text-align: center;
  }
  .navbar-btn {
    margin: 9px 14px 9px 0;
    font-family: Helvetica;
    color: white;
    padding: 5px;
  }
</style>

<header class="main-header">
  <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Logo -->
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <!--<span class="logo-mini"><b>A</b>LT</span>-->
    <!-- logo for regular state and mobile devices -->
    <!-- <span class="logo-lg"><img style="width: 100%; transform: translate(-10px, -18px);" src="images/logo.png"/></span> -->
    <span class = "logo">ENQUÉ</span>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Navbar Right Menu -->
      <a href="/login" class="navbar-btn btn btn-sm btn-info btn-flat pull-right">Log Out</a>
      <a href="/accountSettings" class="navbar-btn btn btn-sm btn-info btn-flat pull-right">Account Settings</a>
      <span class="navbar-btn pull-right">Welcome, {{employeeName}}!</span>
    </nav>
</header>
