

<section class="content-header">
    <h1>Dashboard </h1>
    <div id="txt" class="pull-right"></div>
    <h1 class="pull-right" id="currentDate"></h1>
</section>

<section class="content">
  <div class="row">
  <div class="col-md-4">
    <div style="width: 300px; height: 300px;">
      <canvas id="chart1" width="400" height="400"></canvas>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  </div>
</section>

<script>
data = {
  datasets: [{
      data: [20, 10],
      backgroundColor: [
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 99, 132, 0.2)' ],
      borderColor: [
          'rgba(54, 162, 235, 1)',
          'rgba(255,99,132,1)' ]
      }],
      labels: [ 'On Time', 'Missed']
  };
  var chart1 = new Chart(document.getElementById("chart1"), {
      type: 'doughnut',
      data: data,
      options: Chart.defaults.doughnut
  });
</script>
